.pure-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pure-container-content{
    width: 60%;
}

#header{
    padding: 40px;
    padding-top: 40px;
}

#table{
    width: auto;
}

#table-head .col{
    display: flex;
    align-items: center;
}