.screen-options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
}

.screen-options a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    background-color:#0071ff;
    padding: 1px 20px;
    border-radius: 100px;
    color: #fff;
    transition: 0.3s;
}

.screen-options a:hover{
    box-shadow: 1px 2px 4px #696969;
    transform: scale(1.05);
}

.screen-options p{
    margin-right: 10px;
}

#index-container{
    text-align: center;
    height: 90vh;
}